* {
    margin: 0;
    padding: 0;
}

.about {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 60px;
}

.carousel {
    width: 1500px;
    margin: 0 auto;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.carousel ul {
    list-style: none;
    width: 8000px;
    position: relative;
    left: 0px;
    transition: left .5s ease 0s;
}

.carousel ul li {
    float: left;
    width: 1500px;
}

.carousel ul li img {
    width: 100%;
}

.carousel .leftbtn {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.carousel .rightbtn {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
}

.carousel .leftbtn::after {
    content: "";
    width: 20px;
    height: 20px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    margin-top: -10px;
    margin-left: -10px;

}

.carousel .rightbtn::after {
    content: "";
    width: 20px;
    height: 20px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    margin-top: -10px;
    margin-left: -15px;
}



@keyframes fadeIn {
    0% {
        opacity: 0;

        /*初始状态 透明度为0*/
    }

    50% {
        opacity: 0;
        /*中间状态 透明度为0*/
    }

    100% {
        opacity: 1;
        /*结尾状态 透明度为1*/
    }
}

.about_tit {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    color: #d7dacb;
    text-shadow: #313030 -5px -5px 10px;
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 40px;
    bottom: 0;
    width: 800px;
    margin: auto;
    text-align: center;
    -webkit-animation-name: fadeIn;
    /*动画名称*/
    -webkit-animation-duration: 3s;
    /*动画持续时间*/
    -webkit-animation-iteration-count: 1;
    /*动画次数*/
    -webkit-animation-delay: 0s;
    z-index: 1;
}

.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 50px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;
    border: 1.5em solid #fff;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #fff;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.me {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    overflow: hidden;
    padding: 0 50px;
}

.me_tit {
    width: 600px;
    line-height: 36px;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 50px;
    font-weight: 550;
}

.me_img {
    width: 700px;
    height: 500px;
}

.animate {
    padding-left: 20px;
    width: 500px;
    font-size: 16px;
    color: #9B8651;
    animation: 15s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
    }

    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

.iconlist {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 60px 50px;
}

.iconimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #ccc;
}

.iconitem p {
    padding-top: 20px;
    color: #666;
}

.aboutinfo {
    padding: 60px 200px;
}

.info_item {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 45px;
    border-radius: 5px;
    justify-content: space-between;
}

.infoimg {
    width: 200px;
    height: 180px;
    margin-right: 15px;
    flex-shrink: 0;
}

.info_item h3 {
    margin-bottom: 5px;
}

.info_item span {
    font-size: 19px;
    color: #666;
}